<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

		{{- partial "seo.html" . -}}

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" />
		{{- $themeStyle := resources.Get "styles/theme.sass" | resources.ExecuteAsTemplate "style.theme.sass" . | toCSS | postCSS | minify | fingerprint -}}
		<link rel="stylesheet" href="{{ $themeStyle.Permalink }}" integrity="{{ $themeStyle.Data.Integrity }}" />
		{{- block "head" . -}}{{- end -}}

		<title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
	</head>
	<body>
		<main class="main">
			{{- block "main" . -}}{{- end -}}
		</main>
		{{- partial "footer.html" . -}}
	</body>
</html>
