$horizontal-padding: 1em
$vertical-padding: .6em

.button
	transition: .2s
	margin: 0 .5em
	font: inherit
	cursor: pointer
	display: inline-block

	color: $background-color
	background-color: $body-color
	text-shadow: none
	font-family: sans-serif
	border: none

	&:hover, &:focus
		color: $background-color
		background-color: lighten($body-color, 5%)
		box-shadow: 0 .2em .5em 0 rgba(0,0,0, .5)
		text-decoration: none
		transform: scale(1.1)

	&--round
		border-radius: 2em
	&--cta
		color: $background-color
		background-color: darken($theme-color, 6%)
		&:hover, &:focus
			background-color: lighten($theme-color, 5%)
	&--arrow:after
		display: inline-block
		content: '\27A4'
		background-color: rgba(60,60,60, .3)
		padding: $vertical-padding
			right: $horizontal-padding
			left: $horizontal-padding / 2
		margin-left: - $horizontal-padding / 2
		border-start-end-radius: inherit
		border-end-end-radius: inherit
	&--border
		border: .1em solid currentColor
	
	&__content
		padding: $vertical-padding $horizontal-padding
		display: inline-block
