header
	position: fixed
	top: 0
	left: 0
	width: 100%
	font-size: 2em
	height: 1em
	background-color: $background-color
	box-shadow: 0 0 .2em 0 black

	padding: .5em

	& > h1
		margin: 0
		font-size: 1em
		line-height: 1
