@import 'vars', 'header', 'main', 'footer', 'form', 'extras'

body
	margin: 0
	padding: 0
	background-color: $background-color

	font-family: $body-font-family
	line-height: $body-line-height
	font-size: $body-font-size
	color: $body-color

	::selection
		color: white
		text-shadow: none
		background-color: $light-blue

ol, ul, p, h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0


h1, h2, h3, h4, h5, h6
	font-family: $header-font-family
	line-height: $header-line-height
	margin-top: 3em

p
	margin-top: 2em

a
	text-decoration: none
	color: $light-blue
	&:hover
		text-decoration: underline
