<nav class="header">
	<ol class="breadcrumb-bar">
		{{- template "breadcrumb" . -}}
	</ol>
</nav>

{{- define "breadcrumb" -}}
{{- if .Parent -}}
	{{- template "breadcrumb" .Parent -}}
{{- end -}}
{{- if .IsPage -}}
	<li class="breadcrumb-bar__item breadcrumb-bar__item--active">{{- .Title -}}</li>
{{- else if .IsHome -}}
	<li class="breadcrumb-bar__item breadcrumb-bar__item--home"><a href="{{ .Permalink }}" title="{{.Site.Title}}">{{ partial "svg/logo.svg" (dict "size" "1em" "fill" .Site.Params.linkColor) }}</a></li>
{{- else -}}
	<li class="breadcrumb-bar__item"><a href="{{ .Permalink }}" title="{{.Title}}">{{- .Title -}}</a></li>
{{- end -}}
{{- end -}}
