{{- with .Param "title" -}}
	<meta name="og:title" content="{{ . }}" />
	<meta name="og:site_name" content="{{ $.Site.Title }}" />
{{- else -}}
	<meta name="og:title" content="{{ .Site.Title }}" />
{{- end -}}

{{- with .Param "description" -}}
	<meta name="description" content="{{.}}" />
	<meta name="og:description" content="{{.}}" />
{{- end -}}

{{- with .Param "keywords" -}}
	<meta name="keywords" content="{{ delimit . "," }}" />
{{- end -}}

<meta name="og:url" content="{{.Permalink}}" />
<link rel="canonical" href="{{.Permalink}}" />
