{{- define "main" -}}
	{{- $heroImage := .Resources.GetMatch "hero-image*" -}}
	<div class="paralax-container paralax-container--dark paralax-container--angled" style="background-image: url('{{ $heroImage.Permalink }}');">
		<div class="paralax-container__content-wrapper">
			<header>
				{{- partial "logo/full-animated.svg" (dict "height" "10em" "color" .Site.Params.themecolor) -}}
				<h1>Synecdoche Web Services</h1>
				<p>Functional websites that <em>produce leads</em>.</p>
			</header>
			<p>
				{{/*<a class="button button--round" href="{{ ref . "pricing" }}"><span class="button__content">Prices</span></a>*/}}
				<a class="button button--round button--cta" href="{{ ref . "contact" }}"><span class="button__content">Contact</span></a>
			</p>
		</div>
	</div>

	<article>
		{{- .Content -}}
	</article>
{{- end -}}
